html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}